<robot name="my_car_move" xmlns:xacro="http://wiki.ros.org/xacro">

    <!-- USV 平面移动插件 -->
    <gazebo>
        <plugin name="gazebo_ros_planar_move" filename="libgazebo_ros_planar_move.so">
            <rosDebugLevel>Debug</rosDebugLevel>
            <robotNamespace>/</robotNamespace>
            <publishTf>1</publishTf>
            <alwaysOn>true</alwaysOn>
            <updateRate>100.0</updateRate>
            <commandTopic>cmd_vel</commandTopic>
            <odometryFrame>odom</odometryFrame>
            <odometryTopic>odom</odometryTopic>
            <robotBaseFrame>base_footprint</robotBaseFrame>
            <!-- 3-DOF 运动: linear.x=Surge, linear.y=Sway, angular.z=Yaw -->
            <publishOdomTF>true</publishOdomTF>
            <publishWheelTF>false</publishWheelTF>
        </plugin>
    </gazebo>

</robot>