# 忽略训练的模型权重和压缩包 (太大了)
*.zip
*.pth
*.pt
*.pkl
*.ckpt

# 忽略 Python 缓存 (必须忽略)
__pycache__/
*.pyc

# 忽略 TensorBoard 日志和训练日志
events.out.tfevents*
logs/
training_results/

# 忽略数据文件
*.npz
*.csv
*.zip
training_results/
training_frenet_results/
results_avoid/
results_avoid_sac/
results_nav/
logs/
3_ppo_nav_car_log/
3_sac_nav_car_log/
log_avoid/
log_nav/
log_sac/
sac_nav_car_log/
